<div class="plate-heatmap-container">
  <!-- Column Headers -->
  @for (col of columns; track col; let i = $index) {
    <div class="column-header" [ngStyle]="{ 'grid-column': i + 2 }">{{ col }}</div>
  }

  <!-- Row Headers -->
  @for (row of rows; track row; let i = $index) {
    <div class="row-header" [ngStyle]="{ 'grid-row': i + 2 }">{{ row }}</div>
  }

  <!-- Plate Grid -->
  <div class="plate-grid">
    @for (row of rows; track row; let i = $index) {
      <div
        class="plate-row"
        >
        @for (col of columns; track col; let j = $index) {
          <div
            class="well"
            [ngStyle]="{ 'background-color': getWellColor(plateGrid[i][j]) }"
            [title]="getTooltip(row, col)"
            >
          </div>
        }
      </div>
    }
  </div>
</div>
