excluded/

node_modules/
logs/
*.pyc
__pycache__/
*.py[codz]
*$py.class

*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
uv.lock
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
cython_debug/

.vscode/

# Ruff stuff:
.ruff_cache/

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
